 {% extends 'base.html' %}

 {% block content %}
   <!--Header Start-->
    <div class="container-fluid mb-5" style="background-color: indigo;padding: 10px;">
        <div
          class="d-flex flex-column align-items-center justify-content-center">
          <h3 class="display-6 font-weight-bold text-white">Comapany Updates</h3>
        </div>
      </div>
   <!--Header End-->

    
    <!-- Content Start -->

   <div class="col-md-10" style="margin: auto;">
    <h2 class="display-5">{{company}}</h2>
    <table class="table table-bordered" style="text-align: center;">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th scope="col">Date</th>
          
        </tr>
      </thead>
      <tbody>
        {% for update in updates %}
        <tr>
          <th scope="row">{{ update.title }}</th>
          <td>{{update.description}}</td>
          <td>{{update.date}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <!-- Content End -->
  {% endblock %}
  