{% extends 'base.html' %}

{% block content %}
    <h3 class="display-4 text-indigo" style="padding: 10px;margin: 5px;">Companies Arrived</h3>

    <!-- Table Start-->
    <div class="col-md-10" style="margin: auto;">
      <table class="table table-bordered" style="text-align: center;">
        <thead>
          <tr>
            <th scope="col" style="background-color: indigo;color: white;">Sno.</th>
            <th scope="col" style="background-color: indigo;color: white;">Name of the Company</th>
            <th scope="col" style="background-color: indigo;color: white;">Registration: Date & Time</th>
          </tr>
        </thead>
        <tbody>
          {% for company in companies %}
          <tr>
            <th scope="row">{{ company.id }}</th>
            <td> <a href="{% url 'company' company.id %}" style='color:blue;font-weight:bold;'>{{ company.name }}</a></td>
            <td>{{ company.date|date:"Y-m-d H:i:s" }}</td>  
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  <!--Table end-->
{% endblock %}
