{% extends 'base.html' %}

{% block content %}
{% if  error %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
  {{ error }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% endif %}
  <div class="container-fluid py-5">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-7 mb-5 mb-lg-0">
          <p class="section-title pr-5">
            <span class="pr-2">Login</span>
          </p>

          <h1></h1>
          <p>
            Welcome to the Login Page!<br/><br/>
            
            At S24, we're a community of passionate techies who are driven by
            
            
            , and the excitement of all things tech. 
          </p>
          <ul class="list-inline m-0">
            <li class="py-2">
              <i class="fa fa-check text-success mr-3"></i>innovation
            </li>
            <li class="py-2">
              <i class="fa fa-check text-success mr-3"></i>collaboration
            </li>
            <li class="py-2">
              <i class="fa fa-check text-success mr-3"></i>Teamwork.
            </li>
          </ul>
          <p>Whether you're a coding connoisseur, a design devotee, or a tech explorer, you've found your home here.
            
            Our club is a vibrant hub where enthusiastic minds converge to explore the latest trends, share knowledge, and unleash their creative potentials. From coding workshops that unravel complex algorithms to design sessions that bring ideas to life, we've got it all covered.
            
            Join us on this journey of continuous learning, skill enhancement, and a shared love for technology. Together, we strive to not just keep up with the ever-evolving tech landscape, but to pioneer it. So, log in and be part of the S24 experience that fuels innovation and nurtures the tech leaders of tomorrow.
            
            Stay curious. Stay inspired. Stay techie.</p>
          <!-- <a href="" class="btn btn-primary mt-4 py-2 px-4">Book Now</a> -->
        </div>
        <div class="col-lg-5">
          <div class="card border-0">
            <div class="card-header text-center p-4" style="background-color:indigo;">
              <h1 class="text-white m-0">Login</h1>
            </div>
            <div class="card-body rounded-bottom  p-5" style="background-color:indigo;">
              <form method="post">
                {% csrf_token %}
                <div class="form-group">
                  <input
                    type="text"
                    name = "username"
                    class="form-control border-0 p-4"
                    placeholder="UserName"
                    required="required"
                  />
                </div>
                <div class="form-group">
                  <input 
                  type="password" 
                  name = "password"
                  class = "form-control border-0 p-4"
                  placeholder="Password"
                  required = "required">
                </div>  
                <div>
                  <input type="submit" 
                    class="btn btn-secondary btn-block border-0 py-3" 
                    style="font-size: larger;">
                    Login
                  </a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Registration End -->

{% endblock %}
 