{% extends 'base.html' %}

{% block content %}
      <!-- Header Start -->
      <div class="container-fluid mb-5" style="background-color: indigo;">
    <div
          class="d-flex flex-column align-items-center justify-content-center"
          style="min-height: 100px"
        >
          <h3 class="display-4  text-white">My DashBoard</h3>
          </div> 

        </div>
      </div>
      <!-- Header End -->
      
      <!--Side-By-Side Table Start-->

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>My-Companies</h2>
        <a href="{% url 'updatecompanies' user_id=user.id %}" style='color:black; display:flex; a:hover{background-color:grey}' class="btn btn-primary mt-3">Update Companies Applied</a>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Company Name</th>
	      <th>Applied date</th>
            </tr>
          </thead>
          <tbody>
            {% for appl in applied %}
            <tr>
              <td>{{appl.company}}</td>
              <td>{{appl.date}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="col-md-6">
        <h2>My-Calender</h2>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Date&time</th>
              <th>Company Names</th>
              <th>Update</th>
            </tr>
          </thead>
          <tbody>
            {% for getread in getready %}
            <tr>
              <td>{{ getread.date }}</td>
              <td>{{ getread.title }}</td>
              <td>{{getread.company}}</td>
             
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
        <!--Side-By-Side Table Ends-->
{% endblock %}
