{% extends 'base.html' %}

{% block content %}

    <!-- Header Start -->
    <div class="container-fluid  px-0 px-md-5 mb-5" style="background-color: indigo;">
      <div class="row align-items-center px-3">
        <div class="col-lg-6 text-center text-lg-left">
          <h1 class="text-white mb-4 mt-5 font-weight-bold">s24</h1>
          <h1 class="display-4 font-weight-bold text-white">
            Placements
          </h1>
          <h3 class="text-white mb-4">
            The place where we get placed.<br/>
            Registered Already... ?
          </h3>
	  <a href="{% url 'register' %}" target="_blank" class="btn btn-secondary mt-1 py-3 px-5" style="font-size: larger;">Request to register</a>
          <h1></h1>
        </div>
        <div class="col-lg-6 text-center text-lg-right">
          <img class="img-fluid mt-5" src="https://media.istockphoto.com/id/1405335915/vector/abstract-digital-background-with-technology-circuit-board-texture-electronic-motherboard.jpg?s=612x612&w=0&k=20&c=yP_Kq-3avjQNSJp2EyMz5NGdsWXlE6ykFxxUQyev_PQ=" style="height:19vw ;" />
          <h1></h1>
        </div>
      </div>
    </div>
    <!-- Header End -->
    <!-- Facilities Start -->
    <div class="container-fluid pt-5">
      <div class="container pb-3">
        <div class="row">
          <div class="col-lg-4 col-md-6 pb-1">
            <div
              class="d-flex bg-light shadow-sm border-top rounded mb-4"
              style="padding: 30px"
            >
              <i
                class=""
              ></i>
              <div class="pl-4">
                <h4>Notifications</h4>
                <p class="m-0">
                  Instant notifications, sent by the placement office, in the portal, through APIs
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 pb-1">
            <div
              class="d-flex bg-light shadow-sm border-top rounded mb-4"
              style="padding: 30px"
            >
              <i
                class=""
              ></i>
              <div class="pl-4">
                <h4>Personalised Account</h4>
                <p class="m-0">
                  Know which companies you applied for, and what is the status of your application
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 pb-1">
            <div
              class="d-flex bg-light shadow-sm border-top rounded mb-4"
              style="padding: 30px"
            >
              <i
                class=""
              ></i>
              <div class="pl-4">
                <h4>Personalised Calender</h4>
                <p class="m-0">
                  You'll get a personal calender of events,
                  for the companies you've applied for... 
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 pb-1">
            <div
              class="d-flex bg-light shadow-sm border-top rounded mb-4"
              style="padding: 30px"
            >
              <i
                class=""
              ></i>
              <div class="pl-4">
                <h4>List of companies arrived</h4>
                <p class="m-0">
                  Get a list of all companies that has arrived, and their details.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 pb-1">
            <div
              class="d-flex bg-light shadow-sm border-top rounded mb-4"
              style="padding: 30px"
            >
              <i
                class=""
              ></i>
              <div class="pl-4">
                <h4>Events of Companies</h4>
                <p class="m-0">
                Application date, Interview date, Preplacement talk, and anything that the company performed can be found here.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 pb-1">
            <div
              class="d-flex bg-light shadow-sm border-top rounded mb-4"
              style="padding: 30px"
            >
              <i
                class=""
              ></i>
              <div class="pl-4">
                <h4>Support</h4>
                <p class="m-0">
                  Write to us of suggestions and requests and we shall get back to you quickly..
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Facilities Start -->
{% endblock %}
